@model Finances.Entities.User

<br />
<div>
    <h3>Visualizar Usuário</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(m => m.name, "Nome: ")
        </dt>
        <dd>
            @Html.DisplayFor(m => m.name)
        </dd>

        <dt>
            @Html.LabelFor(m => m.email, "E-mail: ")
        </dt>
        <dd>
            @Html.DisplayFor(m => m.email)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-warning" href="/Users/Edit/@Model.id"><i class="fa fa-pencil"></i> Editar</a>
    <a class="btn btn-default" href="/Users"><i class="fa fa-undo"></i> Voltar</a>
</p>
